{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static  'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static  'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static  'css/auth.css' %}" />
  </head>
  <body>
    <div class="nav-container">
      <p class="logo">READ<span>it</span></p>

      <nav>
        <ul class="nav-items-1">
          <li>
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <div class="nav-button">
            <a href="{% url 'signup' %}">
              <button>Get <span>Started</span></button></a
            >
          </div>
        </ul>
      </nav>
    </div>

    <div class="login-container">
      <h1 class="he">Get <span>Started.</span></h1>
      <form method="post" action="{% url 'signup' %}">
        {%csrf_token%}
        <p>
          <input
            class="text-box"
            type="text"
            name="{{form.username.name}}"
            placeholder="username"
          />
        </p>
        <br />
        <p>
          <input
            class="text-box"
            type="password"
            name="{{form.password1.name}}"
            placeholder="password"
          />
        </p>
        <br />
        <p>
          <input
            class="text-box"
            type="password"
            name="{{form.password2.name}}"
            placeholder="confirm password"
          />
        </p>
        <br />

        <p class="login-text">
          Already have account? Click
          <a class="here" href="{% url 'login' %}">here</a> to login
        </p>
        <br />

        <button class="login-btn" type="submit">SignUp</button>
      </form>
    </div>
  </body>
</html>
