{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static  'css/styles.css' %}" />
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <title>READit</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% block content %} {% endblock %}

    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
  </body>
</html>
